<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>


    <div class="pull-right">
        
            
            <button class="toolbarline" (click)="all()" >Alle</button>

            <button class="toolbarline" (click)="confirmed()" ><img src="../../assets/pdf.png"   height="18px" width="18px"/>Bestätigte</button>

            <button class="toolbarline" (click)="absEDVO()" ><img src="./assert/003-policeman-standing-up.png"  width="18px" height="18px"/>AbsEDVO</button>

            <button class="toolbarline" (click)="standOccupancy()" >Standbelegung</button>

            <button class="toolbarline" (click)="workload()" >Auslastung</button>

            <button class="toolbarline" (click)="modification()" >Änderungen</button>
            
            <button class="toolbarline" (click)="media()" >Medien</button>

            <button class="toolbarline" (click)="administrativeData()" >Administrative Data</button>

            <button class="toolbarline" (click)="csvExport()" >CSV Export</button>
     </div>

</body>