    <div class="pull-right">
            <button class="toolbarline" (click)="all()" ><img src="../../assets/technology.png " height="18px" width="18px"/> Alle</button>

            <button class="toolbarline" (click)="confirmed()" ><img src="../../assets/technology.png"   height="18px" width="18px"/> Bestätigte</button>

            <button class="toolbarline" (click)="abel()" ><img src="../../assets/technology.png"   height="18px" width="18px"/> Abel</button>

            <button class="toolbarline" (click)="absEDVO()" ><img src="../../assets/technology.png"   height="18px" width="18px"/> AbsEDVO</button>

            <button class="toolbarline" (click)="standOccupancy()" ><img src="../../assets/combine.png"   height="18px" width="18px"/> Standbelegung</button>

            <button class="toolbarline" (click)="workload()" ><img src="../../assets/backpic.png"   height="18px" width="18px"/> Auslastung</button>

            <button class="toolbarline" (click)="modification()" ><img src="../../assets/policeman.png"   height="18px" width="18px"/>Änderungen</button>
            
            <button class="toolbarline" (click)="media()" ><img src="../../assets/folder.png"   height="18px" width="18px"/>Medien</button>

            <button class="toolbarline" (click)="administrativeData()" ><img src="../../assets/pdf-small.png"   height="18px" width="18px"/>Administrative Data</button>

            <button class="toolbarline" (click)="csvExport()" ><img src="../../assets/csv.png"   height="18px" width="18px"/>CSV Export</button>
     </div>