<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>


<table>
  <tr>
    <td>
      <div class="overhead" [style.width]="'50px'" >#</div>
    </td>
    <td>
      <div class="overhead" [style.width]="'120px'">Aktionen</div>
    </td>
    <td>
      <div class="overhead" [style.width]="'200px'">Firmenname</div>
    </td>
    <td>
      <div class="overhead" [style.width]="'100px'">Standplatz</div>
    </td>
    <td>
      <div class="overhead" [style.width]="'300px'">Kontakt-Email</div>
    </td>
    <td>
      <div class="overhead" [style.width]="'100px'">Abs-Club</div>
    </td>
    <td>
      <div class="overhead" [style.width]="'100px'">Buchung</div>
    </td>
    <td>
      <div class="overhead" [style.width]="'100px'">Status</div>
    </td>

  </tr>
  <tr *ngFor="let booking of bookings">
    <td>
      {{booking.id}}
    </td>
    <td >
      <img src="../../assets/edit.ico" class="btn-default" height="20px" width="20px"/>
      <img src="../../assets/delete.png" class="btn-default" height="20px" width="20px" (click)="deleteBooking(booking.id)"/>
      <img src="../../assets/pdf.png" class="btn-default" height="20px" width="20px"/>
    </td>
    <td>
      {{booking.company.name}}
    </td>
    <td>
      {{booking.location.number}}
    </td>
    <td>
      {{booking.company.contact.person.email}}
    </td>
    <td>
      empty
    </td>
    <td>
      empty
    </td>
    <td>
      <div *ngIf="booking.isAccepted == true">
        <img src="../../assets/isAccepted.png" height="15px" width="15px"/>
      </div>
    </td>
  </tr>
</table>
</body>
</html>
