<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">

</head>
<body>

<div class="alert alert-success" *ngIf="sucessfullDeleted() == true">
  <strong [style.text-align]="center">Successfully deleted the booking!</strong>
</div>

<table class="table table-striped">
  <tr>
    <th>
      <button buttonStyle (click)="sortById()">#</button>
    </th>
    <th>
      <button buttonStyle>Aktionen</button>
    </th>
    <th>
      <button buttonStyle (click)="sortByCompanyName()">Firmenname</button>
    </th>
    <th>
      <button buttonStyle (click)="sortbyArea()">Standplatz</button>
    </th>
    <th>
      <button buttonStyle (click)="sortByEmail()">Kontakt-Email</button>
    </th>
    <th>
      <button buttonStyle >Status</button>
    </th>
  </tr>
  <tr *ngFor="let booking of bookings">
    <td>
      {{booking.id}}
    </td>
    <td >
      <img src="../../assets/edit.ico" class="btn-default" height="20px" width="20px" [routerLink]="booking.id"/>
      <img src="../../assets/delete.png" class="btn-default" height="20px" width="20px" (click)="deleteBooking(booking.id)"/>
      <img src="../../assets/pdf.png" class="btn-default" height="20px" width="20px"/>
    </td>
    <td>
      {{booking.company.name}}
    </td>
    <td>
      {{booking.location.number}}
    </td>
    <td>
      {{booking.company.contact.person.email}}
    </td>
    <td>
      <div *ngIf="booking.isAccepted == true">
        <img src="../../assets/isAccepted.png" height="15px" width="15px"/>
      </div>
    </td>
  </tr>
</table>
</body>
</html>
