DIV.overhead{
  background-color: lightgray;
  margin: 2px;
  height: 25px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}
td{
  text-align: center;
  height: 35px;
}
TABLE.myTable{
  margin: 10px;
}
