<head>

</head>
<body>
<div *ngIf="booking!=null">
    <div class="header" >
      <h1 class="header">Firma: <span class="label label-primary">{{firmenname}}</span></h1>
      <h1 class="header">Standplatz: <span class="label label-primary">{{standplatz}}</span></h1>
    </div>

    <hr>
    <form class="form-horizontal">
      <h3>Firmendaten</h3>
      <div class="form-group">
        <label class="col-sm-2 control-label">Firmenname</label>
        <div class="col-xs-5">
          <input [(ngModel)]="booking.company.name" type='text' class="form-control" [ngModelOptions]="{standalone: true}"/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Beschreibung</label>
        <div class="col-xs-5">
          <textarea [(ngModel)]="booking.company.shortDescription" [ngModelOptions]="{standalone: true}" rows="6" class="form-control" ></textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Email</label>
        <div class="col-xs-5">
          <input [(ngModel)]="booking.company.email" [ngModelOptions]="{standalone: true}" type='text' class="form-control" >
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Homepage</label>
        <div class="col-xs-5">
          <input [(ngModel)]="booking.company.homepage" [ngModelOptions]="{standalone: true}" type='text' class="form-control" >
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Telefonnummer</label>
        <div class="col-xs-5">
          <input [(ngModel)]="booking.company.phoneNumber" [ngModelOptions]="{standalone: true}" type='text' class="form-control" >
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Abteilungen</label>
        <div class="col-xs-5">
          <input [(ngModel)]="booking.company.subjectAreas" [ngModelOptions]="{standalone: true}" type='text' class="form-control" >
        </div>
      </div>
      <hr>
      <h3>Adressdaten</h3>
      <div class="form-group">
        <label class="col-sm-2 control-label">Straße</label>
        <div class="col-xs-5">
          <input [(ngModel)]="booking.company.address.street" type='text' [ngModelOptions]="{standalone: true}" class="form-control" >
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Hausnummer</label>
        <div class="col-xs-5">
          <input [(ngModel)]="booking.company.address.number" [ngModelOptions]="{standalone: true}" type='text' class="form-control" >
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Postleitzahl</label>
        <div class="col-xs-5">
          <input [(ngModel)]="booking.company.address.postalCode" [ngModelOptions]="{standalone: true}" type='text' class="form-control" >
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Stadt</label>
        <div class="col-xs-5">
          <input [(ngModel)]="booking.company.address.city" [ngModelOptions]="{standalone: true}" type='text' class="form-control" >
        </div>
      </div>
      <hr>
      <h3>Kontaktdaten</h3>
      <div class="form-group">
        <label class="col-sm-2 control-label">Vorname</label>
        <div class="col-xs-5">
          <input [(ngModel)]="booking.company.contact.person.firstName" [ngModelOptions]="{standalone: true}" type='text' class="form-control" >
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Nachname</label>
        <div class="col-xs-5">
          <input [(ngModel)]="booking.company.contact.person.lastName" [ngModelOptions]="{standalone: true}" type='text' class="form-control" >
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Email</label>
        <div class="col-xs-5">
          <input [(ngModel)]="booking.company.contact.person.email" [ngModelOptions]="{standalone: true}" type='text' class="form-control" >
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Telefonnummer</label>
        <div class="col-xs-5">
          <input [(ngModel)]="booking.company.contact.person.phoneNumber" [ngModelOptions]="{standalone: true}" type='text' class="form-control" >
        </div>
      </div>
      <hr>
      <div class="form-group">
        <div class="col-xs-12" align="center">
          <button class="btn btn-info" (click)="saveBooking()">Speichern</button>
          <button class="btn btn-danger" (click)="cancelEdit()">Abbruch</button>
          <button class="btn btn-warning" (click)="declineBooking()">Firma ablehnen</button>
          <button class="btn btn-success" (click)="acceptBooking()">Firma annehmen</button>
        </div>
      </div>
    </form>
</div>
</body>
