@model Fit.Web.ViewModels.RequestModel
@{
    ViewData["Title"] = "Register";
}

<head>
  <link rel="stylesheet" href="~/NewFolder/demo.css" />
</head>

<body>
    <div class="w3-container">
        <h1>TryOut Page</h1>
        <div class="flex-container">
            <div class="flex-item">
                <input class="form-control flexfc" asp-for="Name" placeholder="Vorname"/>
                <span asp-validation-for="Name"></span>
            </div>
            <div class="flex-item">
                <input class="form-control flexfc" asp-for="Name" placeholder="Nachname"/>
                <span asp-validation-for="Name"></span>
            </div>
            <div class="flex-item">
                <input class="form-control flexfc" asp-for="Name" placeholder="Firma"/>
                <span asp-validation-for="Name"></span>
            </div>
        </div>
        <div class="flex-container">
            <div class="flex-item">
                <input class="form-control flexfc" asp-for="Name" placeholder="Vorname" />
                <span asp-validation-for="Name"></span>
            </div>
            <div class="flex-item">
                <input class="form-control flexfc" asp-for="Name" placeholder="Nachname" />
                <span asp-validation-for="Name"></span>
            </div>
            <div class="flex-item">
                <input class="form-control flexfc" asp-for="Name" placeholder="Firma" />
                <span asp-validation-for="Name"></span>
            </div>
        </div>
        <div class="flex-container">
            <div class="flex-item"></div>
            <div class="flex-item">
                <input type="submit" value="Erstellen" class="form-control btn btn-primary flexfc" />
            </div>
            <div class="flex-item"></div>
        </div>
    </div>
</body>