<md-sidenav-container fullscreen flex class="blue-orange">
  <md-toolbar color="primary">
    <span>Firmeninformationstag</span>
  </md-toolbar>
  <br>

  <md-tab-group [dynamicHeight]="true">
    <md-tab label="Erstellen">

      <form class="example-form">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <md-input-container class="example-full-width" #nameOfCompany>
                <input mdInput placeholder="Company Name">
              </md-input-container>
            </td>
            <td>
              <md-input-container class="example-full-width" #emailOfCompany>
                <input mdInput placeholder="Email">
              </md-input-container>
            </td>
            <td>
              <md-input-container class="example-full-width" #subjectareaOfCompany>
                <input mdInput placeholder="Subjectarea">
              </md-input-container>
            </td>
          </tr>
        </table>
        <p>
          <md-input-container class="example-full-width" #shortdescOfCompany>
            <textarea mdInput placeholder="Short Description"></textarea>
          </md-input-container>
        </p>
        <p>
          <md-input-container class="example-full-width" #addressOfCompany>
            <textarea mdInput placeholder="Address"></textarea>
          </md-input-container>
        </p>
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <md-input-container class="example-full-width" #phonenumberOfCompany>
                <input mdInput placeholder="Phonenumber">
              </md-input-container>
            </td>
            <td>
              <md-input-container class="example-full-width" #homepageOfCompany>
                <input mdInput placeholder="Homepage">
              </md-input-container>
            </td>
            <td>
              <md-input-container class="example-full-width" #companysignOfCompany>
                <input mdInput placeholder="CompanySign">
              </md-input-container>
            </td>
          </tr>
          <tr>
            <td>
              <md-radio-group class="example-radio-group" #tag>
                <md-radio-button class="example-radio-button" *ngFor="let tagItem of tagList;let i = index;"
                                 [value]="tagItem" [checked]="i==0">
                  {{tagItem}}
                </md-radio-button>

              </md-radio-group>
              <!--<md-radio-button class="example-radio-button" [value]="Other">
                   Other
                </md-radio-button>-->
            </td>
          </tr>
        </table>
        <button md-raised-button
                (click)="createCompany(nameOfCompany, emailOfCompany, shortdescOfCompany, addressOfCompany, phonenumberOfCompany, homepageOfCompany, companysignOfCompany, subjectareaOfCompany,tag)"
                class="create-button" color="primary">Create
        </button>
      </form>
    </md-tab>

    <md-tab label="Bearbeiten">

      <form class="example-form">
          <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <md-input-container class="example-full-width" #name>
                <input mdInput placeholder="Company Name" [(ngModel)]="actCompany.name" name="nameUpdate">
              </md-input-container>
            </td>
            <td>
              <md-input-container class="example-full-width" #email>
                <input mdInput placeholder="Email" [(ngModel)]="actCompany.email" name="emailUpdate">

              </md-input-container>
            </td>
            <td>
              <md-input-container class="example-full-width" #subjectarea>
                <input mdInput placeholder="Subjectarea" [(ngModel)]="actCompany.subjectAreas" name="subjectareaUpdate">
              </md-input-container>
            </td>
          </tr>
        </table>
        <p>
          <md-input-container class="example-full-width" #shortdesc>
            <textarea mdInput placeholder="Short Description" [(ngModel)]="actCompany.shortDescription"
                      name="shortDescUpdate"></textarea>
          </md-input-container>
        </p>
        <p>
          <md-input-container class="example-full-width" #address>
            <textarea mdInput placeholder="Address" [(ngModel)]="actCompany.address" name="addressUpdate"></textarea>
          </md-input-container>
        </p>

        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <md-input-container class="example-full-width" #phonenumber>
                <input mdInput placeholder="Phonenumber" [(ngModel)]="actCompany.phoneNumber" name="phonenumberUpdate">
              </md-input-container>
            </td>
            <td>
              <md-input-container class="example-full-width" #homepage>
                <input mdInput placeholder="Homepage" [(ngModel)]="actCompany.homepage" name="homepageUpdate">
              </md-input-container>
            </td>
            <td>
              <md-input-container class="example-full-width" #companysign>
                <input mdInput #companysign placeholder="ComanySign" [(ngModel)]="actCompany.companySign"
                       name="companySignUpdate">
              </md-input-container>
            </td>
          </tr>

        </table>
        <button md-raised-button
                (click)="updateCompany(name, email, shortdesc, address, phonenumber, homepage, companysign, subjectarea,tag)"
                class="create-button" color="primary">Update
        </button>
      </form>

    </md-tab>
  </md-tab-group>


  <br>
  <hr>
  <!--<table>
    <tr *ngFor="let company of companies; let i = index" (click)="this.actCompany = company">
      <td>{{company.id}} </td>
      <td>- {{company.name}}</td>
      <td>- {{company.shortDescription}}</td>
      <td><button (click)="deleteCompany(company.id)">Delete</button></td>
    </tr>
  </table>-->

  <md-list>
    <h3 md-subheader>Companies</h3>
    <md-list-item *ngFor="let company of companies; let i = index" (click)="selectCompany(company)">
      <md-icon md-list-icon>folder</md-icon>
      <h4 md-line>{{company.name}}</h4>
      <h3 md-line>{{company.tag}}</h3>
      <p md-line class="demo-2"> {{company.shortDescription}} </p>
      <button md-button (click)="deleteCompany(company.id)">Delete</button>
    </md-list-item>
  </md-list>
</md-sidenav-container>
